@import '../../../GlobalStyles.scss';

.wrapper {
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    height: $default-layout-header-height;
    display: flex;
    justify-content: center;
    width: 100%;

    .inner {
        height: 100%;
        padding: 0 $default-layout-horizontal-spacer;
        width: $default-layout-header-width;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.logo {
    &:hover {
        cursor: pointer;
    }
}

// Actions
.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    background-color: transparent;
    padding: 4px 8px;
    cursor: pointer;
}

.action-btn {
    display: flex;
    position: relative;
    padding: 4px 12px;
    color: #161823;
    background-color: transparent;
}

.badge {
    position: absolute;
    top: -3px;
    right: 0px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: $white-color;
    font-family: 'ProximaNova', sans-serif;
    background-color: $primary;
}

.action-mes-btn {
    display: flex;
    color: #161823;
    background-color: transparent;
    padding: 7px 12px;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 14px;
    cursor: pointer;
}
