@import '../../../GlobalStyles/GlobalStyles.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
        margin-top: $default-layout-header-height;
        width: $default-layout-header-width;
        display: flex;

        .content {
            flex: 1;
        }
    }
}
