@import '../../GlobalStyles.scss';

// .search-result {
//     display: none;
// }

.search-result,
.input-search {
    width: 361px;
}

.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.input-search {
    position: relative;
    height: $search-height;
    display: flex;
    padding-left: 16px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: $search-border-radius;
    border: 1.5px solid transparent;

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }

    &::after {
        content: '';
        position: absolute;
        height: calc($search-height - $search-top-spacer * 2);
        background-color: rgba(22, 24, 35, 0.12);
        width: 1px;
        top: $search-top-spacer;
        right: $search-button-width;
    }

    input {
        flex: 1;
        height: 100%;
        color: $black-color;
        font-size: 1.6rem;
        border: none;
        outline: none;
        background-color: transparent;
        caret-color: $primary;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    .clear,
    .loading {
        position: absolute;
        right: calc($search-button-width + 16px);
        top: 50%;
        color: rgba(22, 24, 35, 0.34);
    }

    .clear {
        transform: translateY(-50%);
    }

    .loading {
        animation: spinner 0.8s linear infinite;
    }

    @keyframes spinner {
        from {
            transform: translateY(-50%) rotate(0);
        }
        to {
            transform: translateY(-50%) rotate(360deg);
        }
    }

    .search-btn {
        height: 100%;
        width: $search-button-width;
        border-top-right-radius: $search-border-radius;
        border-bottom-right-radius: $search-border-radius;
        font-size: 1.8rem;
        color: rgba(22, 24, 35, 0.34);
        &:hover {
            background: rgba(22, 24, 35, 0.03);
            cursor: pointer;
        }

        &:active {
            background: rgba(22, 24, 35, 0.06);
        }
    }
}
